<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>
  <title>Widget Chooser</title>
</head>
<body>
<div class="container-fluid">
  <h1>Choose Widget</h1>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item active">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1">
            <a href="../user/profile.html" class="pull-left"
               style="color:white">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </div>

          <div class="col-sm-2 col-md-2 col-lg-2">
            Choose Widget
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="widget-heading.html">Heading</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">Label</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">HTML</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">Text Input</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">Link</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">Button</a>
      </li>
      <li class="list-group-item">
        <a href="widget-image.html">Image</a>
      </li>
      <li class="list-group-item">
        <a href="widget-youtube.html">Youtube</a>
      </li>
      <li class="list-group-item">
        <a href="widget-heading.html">Data Table</a>
      </li><li class="list-group-item">
      <a href="widget-heading.html">Repeater</a>
    </li>

    </ul>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user" style="color: white"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
