<div class="container-fluid black">

  <h1 class="white">
    Swati Soni
  </h1>

  <h3 class="white">
    I am a Computer Science graduate student at Northeastern University. This repository is dedicated to the assignments of Fall 2017 class of CS5610 Web Development. You can find my resume <a href="https://github.com/ssoni28/massivx-exchange/blob/master/src/assets/SwatiSoniResume.pdf">here</a>.
  </h3>


  <h2 class="white">
    GitHub Home Page
  </h2>
  <hr>
  <h4 class="white">
  <a href="https://github.com/ssoni28/massivx-exchange/wiki">GitHub Home Page</a>
  </h4>
  <br>
  <h3 class="white">
    <b>GitHub Repositories</b> <br></h3>
  <hr>
    <h4 class="white">I am using the following two repositories for the projects and assignments of this course:
<br>
    <a href="https://github.com/ssoni28/webdev-soni-swati">Assignment Github</a><br>
    <a href="https://github.com/ssoni28/massivx-exchange">Project GitHub</a>
</h4>

  <h3 class="white">
    <b>MongoDb Test URL</b> <br></h3>
  <hr>
  <h4 class="white">
    <a href="test">Test MongoDB</a>
  </h4>

  <h3 class="white">
    <b class="white">Heroku URLs</b> <br></h3>
  <hr>
  <h4 class="white">  The link for landing page of assignment and project on heroku are as follows:
<br>
    <a href="https://webdev-soni-swati.herokuapp.com/login">Assignment Login</a><br>
    <a href="https://massivx-exchange.herokuapp.com/">Project</a>

  </h4>
</div>

