
<div class="container-fluid">
  <nav class="navbar navbar-custom navbar-fixed-top">

    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page']"
           class="pull-left navbar-brand my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        New Page
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <a (click)="createPage()"
           class="pull-right navbar-brand my-white-color">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </nav>
  <div class="my-container row">
    <div class="col-xs-12 col-md-9 col-lg-9">
      <label for="pageName">Name</label>
      <input [(ngModel)]="name"
             class="form-control"
             id="pageName"
             required
             type="text"
             name="name"
             placeholder="Page Name"/>

      <label for="pageTitle">Title</label>
      <input [(ngModel)]="title"
             class="form-control"
             id="pageTitle"
             type="text"
             name="title"
             placeholder="Page Title"
             required/>
    </div>
  </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>

  </div>
</nav>

