<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>
  <meta charset="UTF-8">
  <title>Website Edit</title>
</head>
<body>
<div class="container-fluid">
  <!--Header-->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="website-list.html"
           class="my-white-color pull-left navbar-brand">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-brand my-white-color col-sm-1 col-md-1 col-lg -1
        hidden-xs hidden-sm">
        Websites
      </div>
      <div class="navbar-brand col-sm-1 col-md-1 col-lg-1
            hidden-xs hidden-sm">
        <a href="website-new.html"
           class="pull-right my-white-color">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="navbar-brand my-white-color col-sm-2 col-md-3 col-lg-3">
        Edit Website
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <a href="website-list.html"
           class="pull-right navbar-brand my-white-color">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="../page/page-list.html">Wikipedia</a>
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../page/page-list.html">Cnet</a>
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../page/page-list.html">Gizmodo</a>
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../page/page-list.html">Ferrari</a>
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <label for="name">Website Name</label>
      <input class="form-control"
             id="name"
             placeholder="Wikipedia"/>

      <label for="description">Website Description</label>
      <textarea class="form-control"
                id="description"
                rows="4"
                placeholder="Wikipedia is a free online encyclopedia with the aim to allow anyone to edit articles. Wikipedia is the largest and most popular general reference work on the Internet, and is ranked the fifth-most popular website. Wikipedia is owned by the nonprofit Wikimedia Foundation."></textarea>

      <a class="btn btn-danger btn-block" href="website-list.html">Delete</a>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
