
<div class="container-fluid">

  <!--Header-->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="../website/website-list.html"
           class="navbar-brand my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-brand my-white-color col-sm-1 col-md-1 col-lg-1">
        Pages
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <a class="pull-right navbar-brand" href="page-new.html">
          <span class="glyphicon glyphicon-plus my-white-color"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <ul class="list-group">
      <li class="list-group-custom-item">
        <a href="../widget/widget-list.html">Main Page</a>
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-custom-item">
        <a href="../widget/widget-list.html">Contents</a>
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-custom-item">
        <a href="../widget/widget-list.html">About</a>
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-custom-item">
        <a href="../widget/widget-list.html">Contact Page</a>
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Footer -->
  <nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a href="../user/profile.html">
          <span class="glyphicon glyphicon-user my-white-color"></span>
        </a>
      </p>
    </div>
  </nav>
</div>

