<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>
  <title>Page Edit</title>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">

      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="page-list.html"
           class="pull-left my-white-color navbar-brand">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Edit Page
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <a href="page-list.html"
           class="pull-right my-white-color navbar-brand">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <div class="col-xs-12 col-md-9 col-lg-9">
      <label for="pageName">Name</label>
      <input class="form-control"
             id="pageName"
             type="text"
             placeholder="Main Page"/>
      <label for="pageTitle">Title</label>
      <input class="form-control"
             id="pageTitle"
             type="text"
             placeholder="Page Title"></input>
      <a class="btn btn-danger btn-block" href="page-list.html">Delete</a>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>
  </div>
</nav>
</body>
</html>
