
<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="pull-left navbar-brand my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Widget Edit
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <a (click)="updateWidget()"
           class="navbar-brand my-white-color pull-right">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <div *ngIf="errorFlag"
         class="alert alert-danger">
      {{errorMsg}}
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9">
      <label for="headerName">Name</label>
      <input [(ngModel)]="widgetType"
             class="form-control"
             placeholder="Name"
             type="text"
             id="headerName"/>

      <label for="headerText">Text</label>

      <input [(ngModel)]="widgetText"
             class="form-control"
             type="text"
             id="headerText"
             placeholder="A Short History of Donald Trump's Stormy Relationship With Facebook"/>

      <label for="size">Size</label>

      <input [(ngModel)]="widgetSize"
             class="form-control"
             placeholder="4"
             type="number"
             id="size"/>
      <a (click)="deleteWidget()"
         class="btn btn-danger btn-block"
         [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">Delete</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>
  </div>
</nav>


