<!--
<div class="container-fluid">
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="widget-list.html"
           class="pull-left my-white-color navbar-brand">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Widget Edit
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <a href="widget-list.html"
           class="navbar-brand pull-right my-white-color">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

    </div>
  </nav>

  <div class="my-container row">
    <div class="col-xs-12 col-md-9 col-lg-9">
      <label for="name">Name</label>
      <input class="form-control"
             id="name"
             type="text"
             placeholder="Name"/>
      <label for="text">Text</label>
      <input class="form-control"
             id="text"
             type="text"
             placeholder="Text"/>
      <label for="url">URL</label>
      <input class="form-control"
             id="url"
             type="url"
             placeholder="http://lorempixel.com/400/200"/>
      <label for="videoWidth">Width</label>
      <input class="form-control"
             id="videoWidth"
             type="text"
             placeholder="100%"/>
      <a class="btn btn-danger btn-block"
         href="widget-list.html">Delete</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>

  </div>
</nav>
-->
