
<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="pull-left navbar-brand my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Choose Widget
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <ul class="list-group">
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Heading</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Label</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HTML']">HTML</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Text Input</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Link</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Button</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'IMAGE']">Image</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'YOUTUBE']">Youtube</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Data Table</a>
      </li>
      <li class="list-group-custom-item">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'HEADING']">Repeater</a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>

  </div>
</nav>

