
<div class="container-fluid">
  <!--Header-->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="widget-list.html"
           class="pull-left navbar-brand my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Choose Widget
      </div>
    </div>
  </nav>

  <div class="my-container row">
    <ul class="list-group">
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Heading</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Label</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">HTML</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Text Input</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Link</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Button</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-image.html">Image</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-youtube.html">Youtube</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Data Table</a>
      </li>
      <li class="list-group-custom-item">
        <a href="widget-heading.html">Repeater</a>
      </li>
    </ul>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user my-white-color"></span>
      </a>
    </p>

  </div>
</nav>

