
<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>
  <form (ngSubmit) = "createUser()" #f="ngForm">

    <input [(ngModel)]="username"
           placeholder="username"
           name="username"
           type="text"
           class="form-control"
           required/>

    <span class="help-block" *ngIf="!username.valid && username.touched">Please enter username!</span>

    <input [(ngModel)]="password"
           name="password"
           placeholder="password"
           type="password"
           class="form-control"
           required/>
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter password!</span>


    <input [(ngModel)]="verifyPassword"
           name = "verifyPassword"
           placeholder="verify password"
           type="password"
           class="form-control"
           required/>
    <span class="help-block" *ngIf="!verifyPassword.valid && verifyPassword.touched">Please verify password!</span>

    <span class="help-block" *ngIf="!(verifyPassword === password)">Please verify password!</span>

    <button class="btn btn-primary btn-block"
            type="submit">Register</button>


   <a class="btn btn-danger btn-block"
     [routerLink]="['/login']">Cancel</a>

  </form>

</div>

